html {
    background-image: url("https://acctcdn.msauth.net/images/2_vD0yppaJX3jBnfbHF1hqXQ2.svg");
    height: 100vh;
    font-family: "Open Sans";
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reg_key {
    display: flex;
}

.elem {
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    vertical-align: middle;
    filter: drop-shadow(5px 5px 0.2rem rgba(0, 0, 0, 0.12));
}

.seg {
    font-size: 9vw;
    padding: 10px;
}

button {
    margin-top: 25px;
    font-size: 3.5vw;
    border: none;
    padding: 15px;
    transition: 500ms ease-in-out;
}

button:hover {
    font-size: 3.6vw;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

button:focus {
    outline: none;
}